//- Set sheet to a cheatsheet to pull relative values from 
mixin renderEntry(entry, sheet=undefined)
    // - const tags = entry.tags.concat()
    // data-tags=JSON.stringify(tags)
    article(id=entry.id).entry
        header
            a(href="/entry/" + entry.id)
                h3.problem=entry.problem
        h4.sr-only Solution
        section.solution!=entry.renderedSolution

        if sheet
            if relations[entry.id]
                section.related
                    h4 Related:
                    ul
                        for relation in relations[entry.id]
                            - const relEntry = sheet.find(sheetEntry => sheetEntry.id == relation)
                            if relEntry
                                li
                                    a(href="/#" + relEntry.id)=relEntry.problem
        footer
            if entry.links
                ul.links
                    unless entry.links.length > 1
                        h4 Link:
                    else
                        h4 Links:
                    for link in entry.links
                        li
                            a(href=link.url)=link.label
            if entry.tags
                hr
                unless entry.tags.length > 1
                    h4.sr-only Tag
                else
                    h4.sr-only Tags
                ul.tags.buttons
                    for tag in entry.tags
                        li
                            a(role="button" href="/tags/" + tag.toLowerCase())=tag
