
mixin renderEntry(entry)
    // - const tags = entry.tags.concat()
    // data-tags=JSON.stringify(tags)
    article(id=entry.id)
        header
            h2.problem=entry.problem
        div.solution!=entry.renderedSolution

        if relations[entry.id]
            for relation in relations[entry.id]
                p meow

        footer
            if entry.links
                ul.links
                    unless entry.links.length > 1
                        h3 Link:
                    else
                        h3 Links:
                    for link in entry.links
                        li
                            a(href=link.url)=link.label
            if entry.tags
                hr
                ul.tags
                    for tag in entry.tags
                        li
                            a(role="button" href="/tags/" + tag.toLowerCase())=tag
