doctype html
html(lang="en")
    head
        - const baseUrl = "https://cheatsheet.denperidge.com";
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title + " - Denperidge's Cheatsheet"
        meta(name="og:title", content=title)
        meta(name="description", content=description)
        meta(name="og:description", content=description)
        block ogtype
            meta(name="og:type", content="website")
        meta(name="og:url", content=baseUrl + page.url)
        meta(name="og:site_name", content="Denperidge's Cheatsheet")
        
        meta(name="generator", content=eleventy.generator)

        link(rel="stylesheet", href="/stylesheet.css")
    body
        header
            nav(aria-label="breadcrumb")
                h1
                    ul
                        li
                            a(href="/") Denperidge's Cheatsheet

                        unless page.url == "/"
                            if page.url.startsWith("/tags/")
                                - const allTagsText = page.url == "/tags/" ? "All tags" : "Tags"
                                li
                                    a(href="/tags/")=allTagsText
                                if page.url != "/tags/"
                                    li
                                        a(href=page.url)=title
                            else if page.url.startsWith("/entry/")
                                li
                                    a(href=page.url)=title
            if page.url != "/tags/"
                nav#tag-nav
                    ul.overflow-auto
                        li
                            a(href="/tags/") All tags
                        for tag in allTags 
                            li
                                a(href="/tags/" + tag.toLowerCase())=tag

            //- TODO: find a way to get layout used in eleventy
            if page.url == "/" || (page.url != "/tags/" && page.url.startsWith("/tags/"))
                input(id="search" type="text" placeholder="Search...")


        block content
            | !{content}
