---
title: Redirect
pagination:
    data: cheatsheet
    alias: entry
    size: 1
eleventyComputed:
    title: "| !{entry.problem}"
    description: "| !{entry.description}"
    permalink: "| /entry/#{entry.id}/index.html"
---
extends /layout.pug

block ogtype
    meta(name="og:type", content="article")
    meta(name="article:published_time", content=entry.date_created)
    meta(name="article:modified_time", content=entry.date_updated)
    meta(name="article:section", content="Programming")
    for tag in entry.tags
        meta(name="article:tag", content=tag)

block content
    include ../_includes/_entry.pug
    main 
        h2.sr-only Entry
        +renderEntry(entry, cheatsheet)
